@page "/"
@page "/WardrobeInventoryList"
@using Microsoft.AspNetCore.Components.QuickGrid
@rendermode InteractiveServer


@if (IsLoading)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="loading"/>
    </div>
}
else
{
    if (_items.Any())
    {
        <div class="card mb-3">
            <div class="card-header d-flex flex-row">
                <h2 class="flex-fill">Wardrobe Inventory</h2>
                <div class="px-1">
                    <select class="form-select" @onchange="OnPageSizeChanged">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <button class="btn btn-outline-secondary">Add New Clothing Item</button>
            </div>
            <div class="card-body pb-2 px-0 mb-0">
                <QuickGrid @ref="clothingItemGrid" Items="_items" ItemKey="x => x.Id"
                           Class="table table-hover table-responsive"
                           Pagination="pagination">
                    <PropertyColumn Property="i => i.Name" Sortable="true" Align="Align.Center">
                        <ColumnOptions>
                            <input type="search" @bind="_nameSearch" placeholder="Filter by name"
                                   @bind:after="@(() => clothingItemGrid.HideColumnOptionsAsync())"/>
                        </ColumnOptions>
                    </PropertyColumn>
                    <PropertyColumn Property="i => i.Category" Sortable="true" Align="Align.Center"></PropertyColumn>
                    <PropertyColumn Property="i => i.Brand" Sortable="true" Align="Align.Center"></PropertyColumn>
                    <TemplateColumn Title="Size" Context="item" Align="Align.Center">
                        @if (item.Category == ClothingCategory.Sneakers || item.Category == ClothingCategory.Boots)
                        {
                            @item.ShoeSize
                        }
                        else if (item.Category == ClothingCategory.Jeans)
                        {
                            @($"{item.JeansWaist}/{item.JeansInseam}")
                        }
                        else
                        {
                            @item.ShirtSize
                        }
                    </TemplateColumn>
                    <PropertyColumn Property="i => i.Color" Sortable="true" Align="Align.Center"></PropertyColumn>
                    <TemplateColumn Title="Actions" Align="Align.Center">
                        <button type="button" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            <div class="card-footer">
                <Paginator State="pagination"/>
            </div>
        </div>
    }
    else
    {
        <p>No clothing items found.</p>
    }
}


@code {
    [Inject] public IClothingItemService ClothingItemService { get; set; }
    private bool IsLoading { get; set; } = true;
    private readonly PaginationState pagination = new() { ItemsPerPage = 10 };

    private QuickGrid<ClothingItem> clothingItemGrid;
    private string _nameSearch = string.Empty;
    private List<ClothingItem> _allItems = new();
    private IQueryable<ClothingItem> _items;

    protected override async Task OnInitializedAsync()
    {
        _allItems = await LoadClothingItems();

        _items = _allItems.AsQueryable();

        IsLoading = false;
    }

    private async Task<List<ClothingItem>> LoadClothingItems()
    {
        return await ClothingItemService.GetAllClothingItemsAsync();
    }

    private void OnPageSizeChanged(ChangeEventArgs args)
    {
        if (args.Value != null)
        {
            pagination.ItemsPerPage = int.Parse((string)args.Value);
        }
    }

}